@import "tailwindcss";

@theme {
  --color-primary: #e8b883;
  --color-secondary: #000000;
  --color-gray: #6b7280;
  --font-family-arabic: "Noto Sans Arabic", sans-serif;
  --font-family-latin: "Montserrat", sans-serif;
}

.font-arabic {
  font-size: 110%;
  font-family: var(--font-family-arabic);
}

.font-latin {
  font-family: var(--font-family-latin);
}

[dir="rtl"] {
  text-align: right;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-saffron);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-teal);
}
